/* * {
    box-sizing: border-box;
} */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: rgb(255, 255, 255);
}

p, h1, li {
    caret-color: rgba(255, 255, 255, 0);
}

.navbar {
    font-weight: bold;
    background-color: #1e2b46;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar a {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navbar-brand{
    font-size: 22px;
}

#navbar-nav {
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
    background-color: #323e57;
    padding: 1vw;
    font-weight: normal;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}


@media (max-width: 800px) {
    .main-nav__item {
        display: none;
    }
    
    .main-nav__dropdown {
        display: none;
    }

    .main-nav__items {
        right: 0;
    }

    #modal-button {
        display: inline-block;
    }
}

@media only screen and (max-device-width: 800px) {
    .main-header {
        padding: 1vw 1vw;
    }

    .main-header__brand {
        font-size: 40px;
    }

    .main-header__brand img {
        height: 100%;
        width: 100%;
    }

    .main-nav {
        width: calc(100% - 320px);
    }

    .main-nav__items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-nav__item {
        display: inline-block;
        margin: 0 16px;
    }

    #modal-button {
        width: 60px;
    }

    .main-nav__item {
        display: none;
    }
    
    .main-nav__dropdown {
        display: none;
    }

    #modal-button {
        display: inline-block;
    }
}